.vd { 
    margin: 0px 10px 0px 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid-item {
    font-size: 1.5em;
    text-align: center;
    padding: 4vw;
    margin: 1vw;
    border: 0.3vw solid black;
    font-family: Arial;
    
}
.btn {
    width: 20vw;
    height: 4vw;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(40 40 40 / 1);
    color: #dfdfdf;
    border: 0px;
    font-family: Arial;
    margin: 1rem;
}
.delete-checkbox {
    float: left;
    margin-left: -3vw;
    margin-top: -3vw;
    width: 2vw;
    height: 2vw;
}

.footer {
    text-align: center;
    margin: auto;
    font-family: Arial;
    font-weight: bold;
    font-size: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25rem;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 1rem;
}

#dvdForm {
    display: none;
}

#furnitureForm {
    display: none;
}

#bookForm {
    display: none;
}
